/* reset */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
}

/* fine reset */

/* lavorazione header */

.header-page {
  background-color: aqua;
}

.container {
  background-color: yellow;
  max-width: 1000px;
  margin: 10px auto;
  justify-content: space-between;
  display: flex;
}

.menu {
  background-color: rgb(255, 174, 0);
  border: 2px dashed black;
  padding: 8px;
  margin: 10px auto;
}

.bg-blue {
  justify-content: center;
  display: flex;
  background-color: blue;
  border: 2px solid black;
}

.small-purple {
  background-color: rgb(191, 0, 255);
  min-width: 50%;
  min-height: 300px;
  margin: 10px auto;
  border: 2px dashed black;
}

.header-page-bootm {
  height: 5px;
}

/* fine header */

/* inzio main con relative sezioni */

/*prima sezione */

.section-white {
  background-color: rgb(255, 255, 255);
  height: 400px;
  padding-top: 10px;
}

.blocco-blu {
  background-color: rgb(43, 0, 255);
  width: 70%;
  height: 350px;
  border: 2px dashed black;
}

.blocco-rosa {
  background-color: rgb(252, 154, 232);
  width: 30%;
  border: 2px dashed black;
}

/* fine prima sezione */

/* inizio seconda sezione */

.section-grey {
  background-color: grey;
  height: 400px;
  padding-top: 10px;
}

.container-reverse {
  flex-direction: row-reverse;
}

/* fine seconda sezione */

/* quarta sezione*/

.blocco-verde {
  background-color: green;
  width: 100%;
  height: 350px;
}

/* fine main*/

/* inizio footer  */

/* inzio prima sezione */

.section-black {
  background-color: rgb(33, 33, 33);
  height: 400px;
  padding-top: 10px;
}

.container-reverse {
  flex-direction: row-reverse;
}

/* fine seconda sezione */

.blocco-rosa-dark {
  background-color: rgb(214, 125, 228);
  width: 25%;
  height: 350px;
  border: 2px dashed black;
}

.primo-blocco-verde-acqua {
  background-color: rgb(130, 250, 248);
  width: 25%;
  height: 350px;
  border: 2px dashed black;
}

.secondo-blocco-verde-acqua {
  background-color: rgb(130, 250, 248);
  width: 25%;
  height: 350px;
  border: 2px dashed black;
}

.terzo-blocco-verde-acqua {
  background-color: rgb(130, 250, 248);
  width: 25%;
  height: 350px;
  border: 2px dashed black;
}

.quarto-blocco-verde-acqua {
  background-color: rgb(130, 250, 248);
  width: 25%;
  height: 350px;
  border: 2px dashed black;
}
